<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- Menu gốc -->
        <menuitem id="menu_root"
                  name="QLNS"
                  sequence="0"/>
        
        <!-- Menu cha: Quản lý nhân viên -->
        <menuitem id="menu_quan_ly_ho_so"
                  name="Quản lý hồ sơ nhân viên"
                  parent="menu_root"
                  sequence="1"/>

        <!-- Các menu con của "Quản lý hồ sơ nhân viên" -->
        <menuitem id="menu_danh_sach_nhan_vien"
                  name="Danh sách nhân viên"
                  parent="menu_quan_ly_ho_so"
                  action="action_nhan_vien"
                  sequence="1"/>

        <menuitem id="menu_chuc_vu"
                  name="Quản lý chức vụ"
                  parent="menu_quan_ly_ho_so"
                  action="action_chuc_vu"
                  sequence="2"/>

        <menuitem id="menu_don_vi"
                  name="Quản lý đơn vị"
                  parent="menu_quan_ly_ho_so"
                  action="action_don_vi"
                  sequence="3"/>

        <menuitem id="menu_lich_su_cong_tac"
                  name="Quản lý lịch sử công tác"
                  parent="menu_quan_ly_ho_so"
                  action="action_lich_su_cong_tac"
                  sequence="4"/>

        <menuitem id="menu_danh_muc_chung_chi_bang_cap"
                  name="Danh mục chứng chỉ bằng cấp"
                  parent="menu_quan_ly_ho_so"
                  action="action_danh_muc_chung_chi_bang_cap"
                  sequence="5"/>

        <!-- Menu cha: Quản lý lương -->
        <menuitem id="menu_quan_ly_luong"
                  name="Quản lý lương"
                  parent="menu_root"
                  sequence="2"/>

        <!-- Menu Hợp đồng lao động -->
        <menuitem id="menu_hop_dong"
                  name="Hợp đồng"
                  parent="menu_quan_ly_luong"
                  action="action_hr_contract"
                  sequence="1"/>
        
        <menuitem id="menu_phieu_luong"
                  name="Phiếu lương"
                  parent="menu_quan_ly_luong"
                  action="action_phieu_luong"
                  sequence="2"/>
        <menuitem id="menu_ngay_nghi"
                  name="Ngày nghỉ"
                  parent="menu_quan_ly_luong"
                  action="action_ngay_nghi"
                  sequence="3"/>

        <!-- Menu: Phòng ban -->
        <menuitem name="Phòng ban" 
                  id="menu_phong_ban" 
                  parent="menu_root" 
                  sequence="3" 
                  action="action_phong_ban"/>

        <!-- Menu cha: Quản lý khóa học -->
        <menuitem name="Quản lý đào tạo" 
                  id="menu_quan_ly_dao_tao" 
                  parent="menu_root" 
                  sequence="4"/>

        <!-- Các menu con của "Quản lý khóa học" -->
        <menuitem name="Chương trình đào tạo" 
                  id="menu_khoa_hoc" 
                  parent="menu_quan_ly_dao_tao" 
                  sequence="1" 
                  action="action_khoa_hoc"/>

        <menuitem name="Tham gia khóa đào tạo" 
                  id="menu_tham_gia_khoa_hoc" 
                  parent="menu_quan_ly_dao_tao" 
                  sequence="2" 
                  action="action_tham_gia_khoa_dao_tao"/>
        <!-- Menu cha: Quản lý khen thương và kỷ luật -->
        <menuitem name="Quản lý khen thưởng và kỉ luật" 
                  id="menu_quan_ly_khen_ki" 
                  parent="menu_root" 
                  sequence="5"/>

        <!-- Các menu con của "Quản lý khóa học" -->
        <menuitem name="Khen thưởng" 
                  id="menu_khen_thuong" 
                  parent="menu_quan_ly_khen_ki" 
                  sequence="1" 
                  action="action_khen_thuong"/>

        <menuitem name="Kỷ luật" 
                  id="menu_ky_luat" 
                  parent="menu_quan_ly_khen_ki" 
                  sequence="2" 
                  action="action_ky_luat"/>
    </data>
</odoo>
